<div class="flex justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <form class="w-full mt-5" [formGroup]="loginForm" (submit)="onSubmit($event)">
      <h2 class="text-2xl mb-4 text-center">Login</h2>
      <hr />

      @if (loginText().length) {
      <div
        class="bg-green-100 border border-prussian-blue text-pine-green px-4 py-3 rounded relative my-2"
        role="alert"
      >
        <strong class="font-bold">Login!</strong>
        <span class="block sm:inline">{{ loginText() }}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg
            class="fill-current h-6 w-6 text-pine-green"
            role="button"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <title>Close</title>
            <path
              d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
            />
          </svg>
        </span>
      </div>
      }

      @if (isLoading()) {
        <app-spinner />
      }

      @if (err) {
        <div class="bg-red-100 border border-red-800 text-prussian-blue px-4 py-3 rounded relative my-2" role="alert">
            <strong class="font-bold">Error! {{err.code}}</strong>
            <span class="block sm:inline">{{err.message}}</span>
          </div>
      }
      
      <div class="my-4">
        <label for="email" class="block mb-2">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          formControlName="email"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>
      <div class="mb-4">
        <label for="password" class="block mb-2">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="password"
          class="w-full p-2 border border-gray-300 rounded"
        />
      </div>
      <button
        type="submit"
        class="w-full p-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >
        Login
      </button>
      <div class="mt-4 text-center">
        <a routerLink="/register" class="text-blue-500 hover:underline"
          >Don't have an account? Register</a
        >
      </div>
    </form>
  </div>
</div>
