<div class="container mx-auto">
    <div class="text-center">
      <h1>{{ title() }}</h1>
      <hr />
      <h2 class="mb-4 text-steel-blue">Join a Group and Start Saving Together</h2>
      <p class="mb-8">
        Save money with friends, family, or colleagues. Achieve your financial
        goals together.
      </p>
      <a
        href="/signup"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
        >Get Started</a
      >
    </div>
    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="p-6 border rounded-lg shadow-lg bg-white">
        <h3 class="text-xl font-semibold mb-2 text-pine-green">Create a Group</h3>
        <p class="mb-4">
          Easily create a savings group and invite members to join.
        </p>
        <a routerLink="/groups/new" class="text-blue-500 hover:underline"
          >Create a group</a
        >
      </div>
      <div class="p-6 border rounded-lg shadow-lg bg-white">
        <h3 class="text-xl font-semibold mb-2 text-pine-green">Track Savings</h3>
        <p class="mb-4">
          Keep track of your group's savings and contributions in real-time.
        </p>
        <a href="/track-savings" class="text-blue-500 hover:underline"
          >Learn More</a
        >
      </div>
      <div class="p-6 border rounded-lg shadow-lg bg-white">
        <h3 class="text-xl font-semibold mb-2 text-pine-green">Achieve Goals</h3>
        <p class="mb-4">
          Set and achieve financial goals together with your group.
        </p>
        <a href="/achieve-goals" class="text-blue-500 hover:underline"
          >Learn More</a
        >
      </div>
    </div>
  </div>
  